{% extends "./base.html" %}

{% block navbar %}
<li class="nav-item"><a href="{% url 'core:logout' %}">Выход</a>
{% endblock %}

{% block content %}
    <div class="w-50">
    <div class="list-group" id="chat-res"></div>
    <input class="form-control" id="chat-message-input" type="text" size="100"><br>
    <input class="btn btn-primary" id="chat-message-submit" type="button" value="Send">
    </div>
{% endblock %}

{% block javascript %}
{% load static %}
<script src="{% static 'js/plugins.js' %}"></script>
{% endblock %}